In [1]:
import pandas as pd
import numpy as np

## Maneras de crear un DataFrame

Axis 0 -> Filas Axis 1 -> Columnas  

### Parámetros de un DataFrame:
* Data:
    * nd array: Puede ser homogéneo o estructurado (cols pueden tener nombres)

In [2]:
pd.DataFrame?

Init signature:
pd.DataFrame(
    data=None,
    index: 'Axes | None' = None,
    columns: 'Axes | None' = None,
    dtype: 'Dtype | None' = None,
    copy: 'bool | None' = None,
)
Docstring:
Two-dimensional, size-mutable, potentially heterogeneous tabular data.

Data structure also contains labeled axes (rows and columns).
Arithmetic operations align on both row and column labels. Can be
thought of as a dict-like container for Series objects. The primary
pandas data structure.

Parameters
----------
data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
    Dict can contain Series, arrays, constants, dataclass or list-like objects. If
    data is a dict, column order follows insertion-order.

    .. versionchanged:: 0.25.0
       If data is a list of dicts, column order follows insertion-order.

index : Index or array-like
    Index to use for resulting frame. Will default to RangeIndex if
    no indexing information part of input data and no index provided.
columns : Index or array-like
    Column labels to use for resulting frame when data does not have them,
    defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
    will perform column selection instead.
dtype : dtype, default None
    Data type to force. Only a single dtype is allowed. If None, infer.
copy : bool or None, default None
    Copy data from inputs.
    For dict data, the default of None behaves like ``copy=True``.  For DataFrame
    or 2d ndarray input, the default of None behaves like ``copy=False``.

    .. versionchanged:: 1.3.0

See Also
--------
DataFrame.from_records : Constructor from tuples, also record arrays.
DataFrame.from_dict : From dicts of Series, arrays, or dicts.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_table : Read general delimited file into DataFrame.
read_clipboard : Read text from clipboard into DataFrame.

Examples
--------
Constructing DataFrame from a dictionary.

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df
   col1  col2
0     1     3
1     2     4

Notice that the inferred dtype is int64.

>>> df.dtypes
col1    int64
col2    int64
dtype: object

To enforce a single dtype:

>>> df = pd.DataFrame(data=d, dtype=np.int8)
>>> df.dtypes
col1    int8
col2    int8
dtype: object

Constructing DataFrame from numpy ndarray:

>>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
...                    columns=['a', 'b', 'c'])
>>> df2
   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

Constructing DataFrame from a numpy ndarray that has labeled columns:

>>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
>>> df3 = pd.DataFrame(data, columns=['c', 'a'])
...
>>> df3
   c  a
0  3  1
1  6  4
2  9  7

Constructing DataFrame from dataclass:

>>> from dataclasses import make_dataclass
>>> Point = make_dataclass("Point", [("x", int), ("y", int)])
>>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
   x  y
0  0  0
1  0  3
2  2  3
File:           d:\programs\code\anaconda3\envs\deepenv\lib\site-packages\pandas\core\frame.py
Type:           type
Subclasses:     SubclassedDataFrame

### Desde Diccionario

In [3]:
df1 = pd.DataFrame(data={'promedio':[9.8,8.9],'carrera':['isc','icd']})
df1

   promedio carrera
0       9.8     isc
1       8.9     icd

In [4]:
pd.Categorical(df1.carrera)

['isc', 'icd']
Categories (2, object): ['icd', 'isc']

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   promedio  2 non-null      float64
 1   carrera   2 non-null      object
dtypes: float64(1), object(1)
memory usage: 160.0+ bytes

In [6]:
df1['estatura'] = pd.Series(['alta','baja'])
df1

   promedio carrera estatura
0       9.8     isc     alta
1       8.9     icd     baja

### Ejercicio

#### Agregar 3 filas; en una de ellas al menos con estatura 'media' y cada una para carreras diferentes a las que ya aparecen

##### Concatenando dataframes

In [12]:
df2 = pd.DataFrame(data={'promedio':[7.9,9.2,9.1,8.3],'carrera':['si','if','ae','nt'],'estatura':['media','alta','media','alta']})
df1 = pd.concat([df1,df2], ignore_index=True)
df1

   promedio carrera estatura mes_nacimiento
0       9.8     isc     alta          Enero
1       8.9     icd     baja          Marzo
2       7.9      si    media      Diciembre
3       9.2      if     alta          Julio
4       9.1      ae    media      Noviembre
5       7.9      si    media            NaN
6       9.2      if     alta            NaN
7       9.1      ae    media            NaN
8       8.3      nt     alta            NaN

#### Agregar columna con mes de nacimiento y que sea categórico ordinal

In [13]:
df1['mes_nacimiento'] = pd.Series(['Enero','Marzo','Diciembre','Julio','Noviembre']).astype("category")
# Months
months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
df1['mes_nacimiento'] = df1['mes_nacimiento'].cat.set_categories(months, ordered=True)
# Estatura
estaturas = ['baja','media','alta']
df1['estatura'] = df1['estatura'].astype("category").cat.set_categories(estaturas, ordered=True)

df1

   promedio carrera estatura mes_nacimiento
0       9.8     isc     alta          Enero
1       8.9     icd     baja          Marzo
2       7.9      si    media      Diciembre
3       9.2      if     alta          Julio
4       9.1      ae    media      Noviembre
5       7.9      si    media            NaN
6       9.2      if     alta            NaN
7       9.1      ae    media            NaN
8       8.3      nt     alta            NaN

In [14]:
print(df1["mes_nacimiento"])

0        Enero
1        Marzo
2    Diciembre
3        Julio
4    Noviembre
5          NaN
6          NaN
7          NaN
8          NaN
Name: mes_nacimiento, dtype: category
Categories (12, object): ['Enero' < 'Febrero' < 'Marzo' < 'Abril' ... 'Septiembre' < 'Octubre' < 'Noviembre' < 'Diciembre']

In [15]:
print(df1["estatura"])

0     alta
1     baja
2    media
3     alta
4    media
5    media
6     alta
7    media
8     alta
Name: estatura, dtype: category
Categories (3, object): ['baja' < 'media' < 'alta']

In [23]:
df1.describe()

       promedio
count  9.000000
mean   8.822222
std    0.649573
min    7.900000
25%    8.300000
50%    9.100000
75%    9.200000
max    9.800000

In [33]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   promedio        9 non-null      float64
 1   carrera         9 non-null      object
 2   estatura        9 non-null      category
 3   mes_nacimiento  5 non-null      category
dtypes: category(2), float64(1), object(1)
memory usage: 818.0+ bytes